@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100%;
}
